.homeSliderBackground {
  background-color: #757268;
  height: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.homeSliderButton {
  background-color: rgba(0, 0, 0, 0.603);
  color: white;
  padding: 0.5em 2em;
  border: 2px solid white;
}

.homeSliderOr {
  margin: auto 2em;
}

.homeAboutBackground {
  background-color: #f3f3f3;
  height: 30em;
  text-align: left;
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homeSliderBackground h2 {
  margin: 0.2em auto 1.5em auto;
}

/* .homeAboutImage {

} */

.homeAdexBackground {
  height: 30em;
  background-color: #dab644;
  text-align: left;
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .homeReferencesBackground {
  height: 30em;
} */

.tbd {
  height: 10em;
  text-align: left;
  padding: 3em;
}
