.homeSliderBackground {
  background-color: #757268;
  height: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.homeSliderButton {
  background-color: rgba(0, 0, 0, 0.603);
  color: white;
  padding: 0.5em 2em;
  border: 2px solid white;
  cursor: pointer;
}

.homeSliderOr {
  margin: auto 2em;
}

.homeAboutBackground {
  background-color: #f3f3f3;
  height: 30em;
  text-align: left;
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homeSliderBackground h2 {
  margin: 0.2em auto 1.5em auto;
}

.homeAboutButton {
  background: black;
  color: white;
  font-size: 1em;
  margin: 0.5em;
  padding: 0.8em;
  cursor: pointer;
  border: none;
}

.homeAdexBackground {
  height: 30em;
  background-color: #dab644;
  text-align: left;
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homeAdexButton {
  width: 14em;
  margin: 0.5em;
  padding: 0.8em;
  background: #387c7d;
  border: none;
  color: white;
  cursor: pointer;
}

.tbd {
  height: 10em;
  text-align: left;
  padding: 3em;
}
