.login {
  padding: 3em 0;
}

.loginForm {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0;
  margin: 0;
}

.loginForm label {
  margin: 0;
  font-size: 0.9em;
}

.loginInput,
.loginForm textarea {
  margin-top: 0;
  margin-bottom: 1em;
  border: 0.7px solid lightgrey;
  border-radius: 4px;
}

.loginButton {
  color: white;
  background-color: #92b647;
  padding: 0.5em;
  border: none;
  margin: 0;
}

.loginSignupButton {
  color: black;
  font-style: italic;
}

.loginSignupButton:hover {
  color: #bea192;
  text-decoration: none;
}

.loginNoAccount {
  margin: 1em;
}
