/* Registration Bar */

.registrationBarContainer {
  margin: 0;
  display: flex;
  flex-direction: space-evenly;
  align-items: stretch;
  height: 0.4em;
}

.registrationBarComponent {
  width: 25%;
}

.registrationBarActive {
  background-color: #bea192;
}

.registrationBarInactive {
  background-image: linear-gradient(#e9e9e9, #fcfcfc);
}

.registrationBarMiddle {
  margin-right: 0.1em;
}

/* Registration Main Container */

.registrationHeading {
  font-size: 1.1em;
  font-weight: bold;
  text-align: left;
  margin: 1.8em 2em 1.8em 2em;
}

.registrationContainerAndNote {
  display: flex;
  flex-direction: row;
  margin: 1em 14% 4em 14%;
}

.registrationContainer {
  display: flex;
  flex-direction: column;
  margin-right: 1.7em;
}

.registrationHeadline {
  text-align: left;
  font-weight: 300;
  margin-top: 1.5em;
}

.registrationSubtitle {
  text-align: left;
  color: #8e8f91;
  margin-bottom: 3em;
}

.registrationProfession {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 2em 0;
}

.registrationProfessionBox {
  padding: 1.2em 1.2em;
}

.registrationProfessionBox.designer {
  border: 2px solid #d4b5aa;
}

.registrationProfessionBox.artisan {
  border: 2px solid #edeeca;
}

.registrationProfessionHeadline {
  font-weight: 300;
}

.registrationSmallText {
  color: #8e8f91;
  font-size: 0.8em;
}

.registrationOr {
  width: 4em;
}

/* Registration Form */

.registrationForm {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.registrationFormName {
  display: flex;
  flex-direction: row;
}

.registrationFormNameComponent {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.registrationForm label {
  margin: 0;
  font-size: 0.9em;
}

.registrationForm input,
.registrationForm textarea,
.registrationForm select {
  margin-top: 0;
  margin-bottom: 1em;
  border: 0.7px solid lightgrey;
  border-radius: 4px;
}

.registrationFormLanguage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.registrationFormLanguageComponent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.registrationFormAddButton {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}

.registrationFormAddButton button {
  background: #bfbfbf;
  color: white;
  border: none;
  width: 2em;
  height: 2em;
  padding: 0;
  cursor: pointer;
}

.registrationSignUpButton {
  color: white;
  background-color: #92b647;
  padding: 0.5em;
  border: none;
}

.registrationNextButtonPosition {
  display: flex;
  justify-content: flex-end;
  margin-top: 4em;
}

.registrationNextButton {
  color: white;
  background-color: #92b647;
  padding: 0.5em;
  border: none;
  width: 8em;
  cursor: pointer;
}

.registrationNeedsButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
}

.registrationBackButton {
  background-color: #f3f3f3;
  border: none;
  color: #8e8f91;
  padding: 0.5em;
  width: 8em;
  cursor: pointer;
}

.registrationSignUpText {
  text-align: center;
  font-size: 0.9em;
}

/* Tags */

.react-tagsinput-tag {
  background-color: #f9f9f9 !important;
  border: none !important;
  color: grey !important;
  border-radius: 5px !important;
  font-size: 0.8em !important;
}

.react-tagsinput-tag a::before {
  content: " +" !important;
  font-weight: normal !important;
}

.react-tagsinput-input {
  border: none !important;
}

.react-tagsinput {
  margin-top: 0 !important;
  margin-bottom: 1em !important;
  border: 0.7px solid lightgrey !important;
  border-radius: 4px !important;
}

/* Upload Page */

.uploadContainer {
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 1.4em 0;
}

.uploadContainer img {
  width: 30%;
  height: 30%;
}

.uploadContainer h3 {
  font-weight: normal;
}

.uploadContainer p {
  font-size: 0.9em;
}

.uploadContainerText {
  padding: 0 1.5em;
}
