.artisansSearchContainer {
  background: #f5ede9;
  height: 12em;
  padding: 3em 2em;
}

.artisansSearchColumn {
  text-align: left;
}

.artisansSearchColumn label {
  font-size: 1.3em;
  color: #5b5a5a;
}

.css-vj8t7z:focus {
  box-shadow: black !important;
}

.css-2o5izw {
  border-color: #d4b5aa !important;
  box-shadow: 0 0 0 1px #d4b5aa !important;
}

.css-2o5izw:hover {
  border-color: #d4b5aa !important;
}

.artisansFilterDropdown {
  display: flex;
  justify-content: space-between;
  margin: 2em 3em;
}

/* .artisansSearchColumn div {
  width: 90%;
  border-bottom: 1px solid #5b5a5a;
  padding-bottom: 0.5em;
} */

/* .artisansSearchColumn select {
  border: none;
  background: none;
  width: 90%;
  font-size: 1.4em;
  color: #5b5a5a;
  cursor: pointer;
} */

.artisansFilterDropdown select,
.artisansFilterDropdown button {
  border: none;
  background: none;
  color: #a9aaac;
  font-size: 1.1em;
  cursor: pointer;
}

/* .artisansMoreButton {
  background: none;
  color: black;
  border: 2px solid black;
  padding: 0.4em 0.8em;
  font-size: 0.9em;
  font-weight: bold;
  margin: 3em;
  cursor: pointer;
} */
