.aboutUsBanner {
  background-image: url("/images/DmC_AboutBanner.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.aboutUsBanner h1 {
  font-family: "Olympic Branding";
  font-size: 8em;
  margin-bottom: 0;
}

.aboutUsBanner h2 {
  font-size: 1.5em;
  font-weight: normal;
}

.aboutUsVision {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4em;
}

.aboutUsVision p {
  font-size: 1.2em;
}

.aboutUsVisionText {
  text-align: left;
  padding-top: 2em;
}

.aboutUsContainer {
  padding: 1em 2.5em;
}

.aboutUsContainer p {
  font-size: 0.9em;
  padding: 1em 2em;
}

.aboutUsBenefits {
  padding: 1em 0 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutUsBenefits > p,
.aboutUsChallenges > p {
  font-size: 1.2em;
  margin-bottom: 2em;
}

.aboutUsArtisans {
  background-image: url("/images/DmC_aboutArtisan.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 550px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-bottom: 2em;
}

.aboutUsArtisansText {
  position: relative;
  left: 100px;
}

.aboutUsArtisans h2 {
  font-family: "Olympic Branding";
  font-size: 8em;
}

.aboutUsArtisansButton {
  background: black;
  color: white;
  font-size: 1em;
  width: 10em;
  margin-right: 1em;
  padding: 0.8em;
  cursor: pointer;
}

.aboutUsChallenges {
  margin-top: 4em;
  margin-bottom: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 800px) {
  .aboutUsVisionText {
    text-align: center;
    font-size: 0.8em;
  }
  .aboutUsArtisans {
    background-image: none;
    text-align: center;
    height: auto;
    background-color: #d7d8c5;
  }
  .aboutUsArtisansText {
    position: static;
    padding-right: 4em;
    padding-left: 4em;
  }
  .aboutUsArtisansButton {
    margin-bottom: 2em;
  }
  .aboutUsChallenges {
    height: auto;
  }
}
